
body {
  background: #EDECE1;
  font: normal 14px Calibri, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
h1, h2 {
  text-align: center;
}
blockquote {
  color: #333;
  line-height: 1.5;
}
.container {
  margin: auto;
  width: 1024px;
}

#custom-zip {
  display: block;
  margin: auto;
  width: 400px;
}
#custom-zip .target {
  color: #666;
  float: left;
  font-size: 32px;
  width: 375px;
  margin: auto;
  max-width: 100%;
  padding: 10px;
}
#custom-zip input[type="submit"] {
  font-size: 16px;
  width: 100%;
  padding: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar-base {
  fill: #BA0D33;  
  fill-opacity: 0.5;
}

.bar-base:hover {
  fill: #000 ;
}
.bar-compare {
  fill: #2E608C;
  fill-opacity: 0.5;
}
.bar-compare:hover {
  fill: #AD2719 ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}